body{
    font-family: Verdana, Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif, Geneva, Tahoma;
    background-image: url("../img/imagen\ fondo.jpeg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contenedor_Informacion,
.Contenedor_Formulario{
    display: flex;
    border: solid 2px black;
}

.Contenedor_GetDatos,
.Contenedor_GetDatos > div,
.Contenedor_GetDatos > div > div,
.Contenedor_GetDatos > div > div > .divForInput,
.Contenedor_GetDatos > div > div > .divForInput + div,
.Contenedor_GetDatos > div > div > .divForInput >div{
    display: flex;
    margin: 2px;
    padding: 2px;
}

.Contenedor_Principal{
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
    padding: 10px;
    width: 60vh;
    min-width: 280px;
    border-radius: 10px;
    background-color: aquamarine;
    border: solid 5px  rgb(255, 0, 0);
}

.Contenedor_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-logo{
    min-width: 50%;
    max-width: 15%;
}

.Contenedor_GetDatos{
    flex-direction: column;
    align-items: stretch;
    border: solid 2px chartreuse;
}

#formUp{
    display: flex;
    flex-direction: column;
}

.Contenedor_GetDatos > div{
    border: solid 2px deeppink;
}

.Contenedor_GetDatos > div > div{
    flex-direction: column;
    border: solid 2px blue;
}

.Contenedor_GetDatos > div > div > .divForInput{
    flex-direction: column;
    border: solid 2px white;
}

.Contenedor_GetDatos > div > div > .divForInput + div{
    border: solid 2px indigo;
}

.Contenedor_GetDatos > div > div > .divForInput >div{
    border: solid 2px green;
}